@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url(noise.png) center,  linear-gradient(#dcd3b2, 90%, #00d0e8);
}
h1 {
    margin: 0;
    padding: 0 1em;
    color: #fff;
    font-size: 80px;
    font-family: 'Yomogi', cursive;
}